<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>title</key>
    <string>广告跳过</string>
    <key>entry</key>
    <string>AdSkipRootListController</string>
    <key>PreferenceSpecifiers</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>label</key>
            <string>应用分类</string>
            <key>key</key>
            <string>AppCategory</string>
            <key>default</key>
            <integer>0</integer>
            <key>validTitles</key>
            <array>
                <string>全部</string>
                <string>商店</string>
                <string>系统</string>
            </array>
            <key>validValues</key>
            <array>
                <integer>0</integer>
                <integer>1</integer>
                <integer>2</integer>
            </array>
        </dict>
    </array>
</dict>
</plist>
